@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.herogrid {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 10px 31px 50px;
  padding: 0 20px;
}

.hero-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-cat {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1.25px;
  padding: 4px 10px;
  background-color: rgb(218, 244, 0);
  width: 58px;
}

.img-cat:hover {
  background-color: #000;
  color: #fff;
}

.img-heading,
.img-heading2 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
  background-color: #000;
  color: #fff;
  padding: 9px 12px;
}

.img-heading {
  margin: 20px 0 10px;
}

.img-heading2 {
  width: 485px;
}


/* .img-heading2:hover,
.img-heading:hover {
  background-color: #daf400;
  color: #000;
} */

.left-div {
  position: relative;
  padding: 20px 20px 0px;
}

.text-block {
  position: absolute;
  bottom: 75px;
  left: 50px;
}

.right-div {
  padding: 20px 20px 0px;
}

.top-heading {
  display: flex;
  margin-bottom: 32px;
  border-bottom: 0.666667px solid rgb(233, 236, 239);
  padding-bottom: 10px;
}

.top-left {
  color: rgb(227, 44, 38);
  font-family: Sriracha, sans-serif;
  font-size: 20px;
  line-height: -1px;
  width: 50%;
}

.top-right {
  font-family: 'Inter', sans-serif;
  color: rgb(129, 129, 129);
  font-size: 12px;
  padding-top: 16px;
  width: 50%;
  text-align: end;
}

.post-card-container {
  display: flex;
}

.post-left {
  width: 80%;
  margin-right: 16px;
}

.post-cat1 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1.25;
}

.post-title1 {
  margin-top: 16px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
}

.post-right {
  width: 20%;
}

.t-post1 {
  width: 100%;
}

.post-text {
  margin-top: 16px;
}

.p-text1 {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: rgb(52, 58, 64);
  line-height: 21px;
}

.post2,
.post3 {
  border-top: 0.666667px solid rgb(233, 236, 239);
  margin-top: 20px;
  padding-top: 20px;
}

.post-author {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 50px;
}

.authorpic-div {
  height: 25px;
  margin-right: 5px;
}

.author-pic {
  height: 100%;
}

.authorname-div {
  font-size: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 4px;
  color: #fff;
}

.author-name {
  font-weight: 600;
}

.stats-div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  color: #fff;
}

.p-post-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin: 10px 50px 50px;
  padding: 0 20px;
}

.p-post-grid {
  
}

.p-post1 {
  width: 100%;
  margin-bottom: 20px;
}

.post-details-div {
  display: flex;
}

.p-post-left {
  margin-right: 10px;
}

.p-post1-index {
  color: rgb(206, 212, 218);
  font-size: 40px;
  font-family: Inter;
  padding-right: 7px;
  border-right: 0.666667px solid rgb(233, 236, 239);
}


.p-post-title {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  margin-bottom: 20px;
}

.p-post-stats {
  color: rgb(129, 129, 129);
  font-size: 10px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 1021px) {
  .herogrid {
    grid-template-columns: 1fr;
    margin: 50px 0 50px;
    padding: 0 0px;
  }
  .p-post-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 30px 50px;
    padding: 0 10px;
    row-gap: 20px;
  }
}

@media only screen and (max-width: 700px) {
 .img-heading,
 .img-heading2 {
  font-size: 2rem;
  /* padding: 9px 12px; */
}
 .img-heading2 {
  width: 440px;
}
}

@media only screen and (max-width: 645px) {
  .img-heading,
  .img-heading2 {
   font-size: 1.5rem;
   /* padding: 9px 12px; */
 }
 .img-heading2 {
  width: 340px;
}
 }

@media only screen and (max-width: 599px) {
  .p-post-container {
    grid-template-columns: 1fr;
  }
  .p-post-container {
    margin: 10px 10px 50px;
  }
}

 @media only screen and (max-width: 583px) {
  .img-heading,
  .img-heading2 {
   font-size: 1.2rem;
   /* padding: 9px 12px; */
 }
 .img-heading2 {
  width: 270px;
}
 }

 @media only screen and (max-width: 428px) {
  .img-heading,
  .img-heading2 {
   font-size: 1rem;
   /* padding: 9px 12px; */
 }
 .img-heading2 {
  width: 230px;
}
 }